body {
    background-color: #007AFF !important;
    font-family: 'Raleway', sans-serif !important;
}

.container {
    min-height: 100vh;
    /*background-color: #007AFF !important; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 50rem;
    height: 35rem !important;
    border-width: 0 !important;
    background-color: #f7f7f7;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.start-screen {
    background-color: #f7f7f7;
    background-image: url(./img/brainbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-choose {
    background-color: lightgray;
    padding: 8px;
    border-radius: 4px;
    margin-right: 20px;
}

.card-body {
    padding: 10px !important;
}

.bg-colour-dark {
    background-color: #27355c !important;
}

.d-none  {
    display: none;
}

.no-event{
    pointer-events: none;
}

@media (max-width:768px){
    .margin-0 {
        margin: 0 !important;
    }
}

@media (max-width:750px){
    
    .margin-l-0 {
        margin-left: 0 !important;
    }
}

@media (max-width: 450px){


    .margin-b-4 {
        margin-bottom: 4px;
    }

    .padding-4{
        padding: 4px;
    }

    .max-height{
        max-height: 65px;
    }

    .responsive-answer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 4px !important;
    }

    .responsive-question-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}